[MASTER]
# Specify the path to search for modules
init-hook='import sys; sys.path.append("src")'

[FORMAT]
# Maximum line length
max-line-length=100

[MESSAGES CONTROL]
# Disable some unwanted warnings
disable=
    C0103, # Invalid name (too short, does not match pattern, etc.)
    C0111, # Missing docstring
    R0903, # Too few public methods 
    C0413, # Import not at top of file
    W0105, # String statement has no effect
    W0621, # Redefined outer name 'log_file' from line 1
    C0411, # First argument of 'with' must be a context manager
    R0801, # Similar lines in if/else branches
    W0611, # Unused import